.single-product {
  height: 100%;
  cursor: pointer;

  .ant-card-body {
    padding: 15px !important;
  }
  .product-image,
  .ant-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    img {
      display: block;
      max-width: 100%;
      max-height: 200px;
      width: auto !important;
      height: auto !important;
    }
  }
}
.product-details-page-wrapper {
  height: 100%;
  position: relative;

  .product-details-wrapper {
    height: 100%;

    .category-tag,
    .brand-tag {
      display: inline-flex;
      color: #ffffff;
      text-transform: uppercase;
      padding: 5px 10px;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }

    .category-tag {
      background: #75e6da;
    }
    .brand-tag {
      background: #189ab4;
    }

    .product-name-wrapper h2 {
      margin-top: 0px;
    }
    .product-image-container {
      background: transparent;
      padding: 10px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
      border-radius: 4px;
      .product-image,
      .ant-image {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 350px;
        img {
          display: block;
          max-width: 100%;
          max-height: 350px;
          width: auto !important;
          height: auto !important;
        }
      }
    }
    .rating-container span {
      font-size: 16px;
      font-weight: 600;
    }
    .rating-wrapper svg path {
      fill: #f8c70f;
    }
    .desc,
    .discount-value,
    .stock-value {
      font-size: 14px;
      font-weight: 500;
    }
    .product-price span {
      font-size: 24px;
      font-weight: 600;
    }
    .discount span {
      color: #f51720;
    }
    .stock span {
      color: #59981a;
    }
    .back-button {
      position: absolute;
    }
  }
  .quantity-input-wrapper input.quantity-input {
    height: 42px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ebebeb;
    box-shadow: none !important;
  }
}
.product-card-wrapper .single-product {
  .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
  }
  .product-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.product-category-item h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.card-item-wrapper {
  .category-prize-wrapper {
    justify-content: space-between;
    width: 100%;
    .category {
      background: #189ab4;
      span {
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px;
      }
    }
    .product-price {
      font-size: 20px;
      font-weight: 600;
      color: #145da0 !important;
    }
  }
}
.cart-product-listing-wrapper {
  .product-image {
    display: block;
    max-width: 65px;
    max-height: 65px;
    width: auto;
    height: auto;
  }
}